.Navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.Navigation .NavContainer {
  min-width: 390px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  background-color: white;
  font-weight: 500;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  z-index: 1;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 0 5%;
}

.Navigation .NavContainer .Logodiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Navigation .NavContainer .Logo {
  width: calc(150px + 5vw);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.Navigation .NavContainer .Navicon {
  width: 35px;
  height: 35px;
  padding: 5px;
  margin: 20px;
  color: #c4c4c4;
}

.Navigation .NavContainer .Navicon:hover {
  color: #000;
  cursor: pointer;
}

.Navigation .NavContainer .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Navigation .NavContainer .overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.Navigation .NavContainer .overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.Navigation .NavContainer .overlay a:hover,
.Navigation .NavContainer .overlay a:focus {
  color: #f1f1f1;
}

.Navigation .NavContainer .overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
}

.Navigation .NavContainer .Navbar {
  list-style: none;
  float: right;
  padding: 0;
}

.Navigation .NavContainer .Navbar a {
  color: black;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

.Navigation .NavContainer .Navbar li {
  float: left;
  padding: 0px 30px;
}

.Navigation .NavContainer .Navbar a:hover {
  background-image: -webkit-gradient(linear, right top, left top, color-stop(1.37%, #1783c1), color-stop(97.26%, #1da838));
  background-image: linear-gradient(270deg, #1783c1 1.37%, #1da838 97.26%);
  background-clip: text;
  color: transparent;
  -o-border-image: linear-gradient(90deg, #1783c1 1.37%, #1da838 97.26%);
     border-image: -webkit-gradient(linear, left top, right top, color-stop(1.37%, #1783c1), color-stop(97.26%, #1da838));
     border-image: linear-gradient(90deg, #1783c1 1.37%, #1da838 97.26%);
  border-image-slice: 1;
  border-bottom: 2px solid;
}

.Navigation .NavContainer .Buttonicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.Navigation .NavContainer .Buttonicon .Navicon {
  width: 35px !important;
  height: 35px !important;
  margin: 5px;
}

.Navigation .NavContainer .Buttondiv {
  -ms-flex-item-align: end !important;
      -ms-grid-row-align: end !important;
      align-self: end !important;
  min-width: 200px;
  margin: 20px 0;
}

.Navigation .NavContainer .Buttondiv span {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  padding: 10px 20px;
  cursor: pointer;
}

.Navigation .NavContainer .Login {
  background-color: black;
  color: white;
  border-radius: 7px;
  margin-left: 2.5%;
}

.Navigation .NavContainer .Signup {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #c4c4c4;
  border: 2px solid #c4c4c4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 7px;
  padding: 6px 20px !important;
  margin-right: 2.5%;
}

.Navigation .NavContainer .Login:hover {
  color: black;
  border: 2px solid black;
  background-color: white;
}

.Navigation .NavContainer .Signup:hover {
  color: black;
  border-color: black;
}

.Navigation .dropshadow {
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
/*# sourceMappingURL=style.css.map */