.About {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 3vw;
  padding-top: 20vh;
  flex-wrap: wrap;
}

.About > img {
  min-width: 375px;
  width: 40vw;
  padding-left: 5vw;
  min-height: 30vh;
  padding-right: 5vw;
}

.About > .text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.About > .text-box > * {
  max-width: 550px;
  width: 80%;
  text-align: center;
}

.About > .text-box > h1 {
  margin: 0;
  padding: 0.5vw;
  font-weight: 400;
  font-size: 37px;
}

.About > .text-box > p {
  margin: 0;
  padding: 0.7vw;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 0.5vw;
}

.About {
  .text-box {
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      width: 240px;
      height: 50px;
      margin: 30px 0;
      background: linear-gradient(270deg, #1783c1 -23.33%, #1da838 181.88%);
      border: 4px solid #ffffff;
      box-sizing: border-box;
      box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25),
        8px 7px 11px rgba(162, 105, 121, 0.08);
      border-radius: 53px;
      font-size: 25px;
      font-weight: 600;
      cursor: pointer;
    }
  }
}
