.Achievement {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10vh;
  .outercircle {
    margin: 0 40px;
    width: 175px;
    height: 175px;
    background: linear-gradient(270deg, #1783c1 1.37%, #1da838 97.26%);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
      filter: drop-shadow(1px 5px 10px rgb(187, 187, 187));
    }
  }
  .innercircle {
    width: 155px;
    height: 155px;
    background-color: white;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    .title {
      width: 100%;
      margin: 10px 0;
      text-align: center;
      font-weight: 500;
      font-size: 50px;
    }
    .content {
      width: 80%;
      margin: 0 10%;
      text-align: center;
    }
  }
}
