.Achievement {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c4c4c4;
  flex-wrap: wrap;
  .outercircle {
    margin: 20px 40px;
    min-width: 175px;
    max-width: 175px;
    min-height: 175px;
    max-height: 175px;
    background: linear-gradient(270deg, #1783c1 1.37%, #1da838 97.26%);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      filter: drop-shadow(1px 5px 10px rgb(187, 187, 187));
    }
  }
  .innercircle {
    min-width: 155px;
    min-height: 155px;
    max-width: 155px;
    max-height: 155px;
    background-color: white;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    .title {
      width: 100%;
      margin: 0;
      display: flex;
      justify-content: center;
      font-weight: 500;
      font-size: 50px;
    }
    .content {
      width: 80%;
      margin: 0 10%;
      text-align: center;
    }
  }
}
