.pathfinder {
  padding-top: 130px;
  min-height: 600px;
  height: fit-content;
  top: -60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  img {
    width: 50% !important;
    min-width: 375px;
  }
  .content {
    max-width: 700px;
    width: 100%;
    height: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    .title {
      padding: 0%;
      width: 100%;
      height: fit-content;
      font-size: calc(15px + 2vw);
      margin: 1vw 0;
      font-weight: 500;
      text-align: center;
    }
    p {
      margin: 0 5%;
      padding: 0 10%;
      font-size: calc(12px + 0.3vw);
      text-align: center;
    }
    .buttondiv {
      display: flex;
      justify-content: center;
    }
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      width: 240px;
      height: 50px;
      margin: 30px 0;
      background: linear-gradient(270deg, #1783c1 -23.33%, #1da838 181.88%);
      border: 4px solid #ffffff;
      box-sizing: border-box;
      box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25),
        8px 7px 11px rgba(162, 105, 121, 0.08);
      border-radius: 53px;
      cursor: pointer;
      h2 {
        margin: 0;
        font-weight: 600;
        font-size: 25px;
        height: fit-content;
      }
    }
  }
}
