.Roadmap{
    width: 100%;
    padding: 10vw;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    //background-color: red;
    .head {
        font-weight: 400;
        padding: 15px;
        width: 100%;
        text-align: left;
        height: fit-content;
        span {
          border-bottom: 3px solid transparent;
          border-image: linear-gradient(to right, #4dbeff, #41ff66);
          border-image-slice: 1;
          border-radius: 10px;
        }
      }
    
    .MuiTimeLine{
      width: 100%;
    }
    .RoadmapHorizontal{
        position: relative;
        max-height: 80vh;
        max-width: 90vw;
        margin: auto 0;
      img{
        max-height: 80vh;
        width: 90vw;
        margin: auto 0;

      }

        .card{
          position: absolute;
          height: fit-content;
          width: 20vw;
          max-width: 20rem;
          border-radius: 1.5rem;
          .card-title{
            color: black;
          }
          .card-subtitle{
            font-weight: bold;
            color: #7e7e7e;
          }
          .card-text{
            font-size: .8rem;
            margin: 2px 0;
          }
        }
        .danger{
          bottom: 59%;
          right: 56%;
        }
        .success{
          bottom: 22%;
          right: 76%;
        }
        .warning{
          left: 76%;
          top: 26%;
        }
        .info{
          top: 68%;
          left: 62%;
        }
    }

    .RoadmapVertical{
      position: relative;
      img{
        height: 90vh;
      }

      .card{
        position: absolute;
        height: fit-content;
        width: 30vw;
        border-radius: 1rem;
        font-size: 12px;
        max-width: 20rem;
        .card-title{
          color: black;
        }
        .card-body{
          padding: 1rem;
        }
        .card-subtitle{
          font-weight: bold;
          color: #7e7e7e;
        }
        .card-text{
          font-size: .8rem;
          margin: 2px 0;
        }
      }
      .success{
        bottom: 70%;
        left: 61%;
      } 
      .danger{
        bottom:52%;
        right: 57%;
      }
      .info{
        left: 57%;
        bottom: 15%;
      }
      .warning{
        right: 62%;
        bottom: 0;
      }

  }

}
